* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #3a3a3a;
}

li a::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 0;
  background: #c4c4f7;
  transition: all 0.5s;
}

li a:hover::after {
  width: 100%;
}
